
#events-page {

  .unselect {
    position: absolute;
    top: 0;
    right: 7px;
    color: $error;
    line-height: 30px;
    font-size: 18px;
    text-decoration: none;
    border-left: 1px solid $gray;
    padding-left: 8px;
    transition: color 0.4s ease-in;

    &:hover {
      color: $error-light;
    }
  }

  .first .wrapper:nth-child(n+2) {
    margin-top: 30px;
  }

  .events li,
  .authors li {
    position: relative;
  }

  .companies {
    margin: 10px 0;
    padding: 4px;
    width: 100%;
    border-radius: 3px;
    color:$blue;
    background: white;
  }

  input.search {
    margin-top: 13px;
    border-radius: 3px;
    color: $blue;
  }

  .authors,
  .events {
    @extend .list-theme;
    margin-bottom: 15px;

    li {
      margin-top: 20px;
      transition: background 0.4s ease-in;

      &:hover,
      &.-active {
        background: $light-blue;
      }
    }
  }
}
