.main-footer {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  text-align: center;
  padding: 9px;
  border-top: 7px solid white;
  color: white;
  background-color: #2D2D38;
  font-size: 15px;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    top: -7px;
    border-top: 1px solid #C8C8CB;
  }

  .divider {
    color: rgba(255, 255, 255, 0.38);
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
  }

  a {
    color: white;

    &.gizra-logo  {
      padding-left: 2px;
      font-size: 17px;
    }
  }

  i.fa.fa-heart {
    font-size: 14px;
  }
}
