/* Variables */
$main-bg: rgb(234, 233, 227);
$light-blue: #E1EAF2;
$blue: #5F90BB;
$dark-blue: darken($blue, 15%);
$dark-gray: #2D2D38;
$light-gray: #606071;
$gray: #989898;
$text-gray: #B1B1B1;
$gizra: #e27058;
$gizra-dark: darken(#e27058, 3.5%);
$error: #D25263;
$error-light: #D81630;
