#my-account {

  .name {
    margin-top: 25px;
    @extend .blue-pill;
  }

  .company-title {
    margin-top: 10px 0;
  }

  .companies {
    @extend .list-theme;
    display: inline-block;
    margin-bottom: 20px;

    li {
      float: left;
      margin-left: 14px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
