#my-account {

  .name {
    margin-top: 25px;
    @extend .blue-pill;
  }

  .company-title {
    margin-top: 10px 0;
  }

  .companies {
    max-width: 141px;
    margin-top: 15px;
    margin-bottom: 20px;
    padding-left: 22px;

    li {
      position: relative;
      margin-top: 11px;
      padding-bottom: 7px;

      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: -17px;
        right: 0;
        height: 1px;
        margin-left: -4px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.07);
      }
    }
  }
}
