@import "mixin";
@import "footer";
@import "login";

body {
  font-family: 'Roboto Condensed', arial, sans-serif;
  background: $main-bg;
}

hr {
  display: block;
  margin: 11px 0px;
  height: 1px;
  border-bottom: 1px solid rgb(218, 217, 209);
  background: #EAE9E3;
}

.wrapper {
  padding: 12px;
  border: 1px solid rgba(45, 45, 56, 0.26);
  border-radius: 5px;
  background: white;
  box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.05);
}
