@import "mixin";
@import "footer";
@import "login";
@import "page-not-found";
@import "article-page";

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto Condensed', arial, sans-serif;
  font-weight: 300;
  background: $main-bg;
  padding-bottom: 100px;
}

#header {
  margin-bottom: 50px;
}

hr {
  display: block;
  margin: 11px 0px;
  height: 1px;
  border-bottom: 1px solid rgb(218, 217, 209);
  background: #EAE9E3;
}

.shadow {
  box-shadow: 0px 7px 2px 0px rgba(0, 0, 0, 0.05);
}

.container {

  .wrapper {
    padding: 12px;
    border: 1px solid #C8C8CB;
    border-radius: 5px;
    background: white;
    @extend .shadow;

    &:nth-child(n+2) {
      margin-top: 45px;
    }

    &.-suffix {
      position: relative;

      &:after {
      content: "";
      position: absolute;
      bottom: 9px;
      left: 0;
      right: 0;
      height: 1px;
      background: rgba(200, 200, 203, 0.64);
      }
    }
  }
}

h3.title {
  margin: -13px -13px 5px -13px;
  padding: 12px;
  color: $text-gray;
  background: $dark-gray;
  font-size: 18px;
  border-radius: 5px 5px 0 0;

  .icon {
    margin-right: 5px
  }

}

.box {
  padding: 15px;
  color: white;
  background: $dark-gray;
  border: 1px solid rgba(0,0,0,0.1);
}

a.gizra-logo {
  text-decoration: none;
  text-transform: lowercase;
  font-family: Abril Fatface;
  color: $gizra;

   &:hover {
     color: $gizra-dark;
   }
}
